//- tabindex: See comment on .picker_wrapper in _components.scss
.picker_wrapper(tabindex=-1)

    .picker_arrow

    .picker_hue.picker_slider
        .picker_selector

    .picker_sl
        .picker_selector

    .picker_alpha.picker_slider
        .picker_selector

    .picker_editor
        input(aria-label='Type a color name or hex value')

    .picker_sample

    .picker_done
        button Ok

    .picker_cancel
        button Cancel
    .picker_name
        input(name="picker_name" placeholder="Алиас цвета")
    .picker_tonal
        div.picker_tonal_title Тональность
        div.picker_tonal_wrap
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 0
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 6
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 10
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 14
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 18
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 20
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 22
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 30
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 40
            div
                label
                    input(value="" data-tonal="20" checked type="checkbox" name="p_tonal[]")
                span 50
            div
                label
                    input(value="" data-tonal="30" checked type="checkbox" name="p_tonal[]")
                span 60
            div
                label
                    input(value="" data-tonal="40" checked type="checkbox" name="p_tonal[]")
                span 70
            div
                label
                    input(value="" data-tonal="50" checked type="checkbox" name="p_tonal[]")
                span 80
            div
                label
                    input(value="" data-tonal="60" checked type="checkbox" name="p_tonal[]")
                span 87
            div
                label
                    input(value="" data-tonal="70" checked type="checkbox" name="p_tonal[]")
                span 90
            div
                label
                    input(value="" data-tonal="80" checked type="checkbox" name="p_tonal[]")
                span 92
            div
                label
                    input(value="" data-tonal="90" checked type="checkbox" name="p_tonal[]")
                span 94
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 96
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 98
            div
                label
                    input(value="" data-tonal="10" checked type="checkbox" name="p_tonal[]")
                span 100

